@mixin headerBlocks {
    .header__logo {
        float: left;
        width: 40%;
        height: 110px;
        padding-top: 30px;
        box-sizing: border-box;

        .header__logo-a {
            display: inline-block;
            width: 250px;

            .header__logo-img {
                display: inline-block;
                width: 52px;
                height: 36px;
            }

            .header__logo-h1 {
                display: inline-block;
                width: 180px;

                .header__logo-span_top {
                    font-size: 1.7em;
                    font-weight: 500;
                }

                .header__logo-span_bottom {
                    color: rgba(51, 51, 51, 0.6);
                    font-size: 0.8em;
                    font-weight: 300;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                }
            }
        }
    }

    .header__socialLinks {
        float: right;
        width: 40%;
        height: 110px;
        padding-top: 30px;
        box-sizing: border-box;

        .socialLinks__listMenu {
            font-size: 0;
            text-align: right;

            .listMenu__item {
                display: inline-block;
                margin-left: 10px;

                .socialLinks__listMenu-a {
                    display: block;
                    width: 30px;
                    height: 30px;
                }

                .socialLinks__listMenu-a_background_facebook {
                    background: url('../img/MainSprite.png') no-repeat -21px #{-10px}/210px;
                }

                .socialLinks__listMenu-a_background_facebook:hover {
                    background: url('../img/MainSprite.png') no-repeat -21px #{-55px}/210px;
                }

                .socialLinks__listMenu-a_background_twitter {
                    background: url('../img/MainSprite.png') no-repeat -54px #{-10px}/210px;
                }

                .socialLinks__listMenu-a_background_twitter:hover {
                    background: url('../img/MainSprite.png') no-repeat -54px #{-55px}/210px;
                }

                .socialLinks__listMenu-a_background_RSS {
                    background: url('../img/MainSprite.png') no-repeat -85px #{-10px}/210px;
                }

                .socialLinks__listMenu-a_background_RSS:hover {
                    background: url('../img/MainSprite.png') no-repeat -85px #{-55px}/210px;
                }

                .socialLinks__listMenu-a_background_linkedin {
                    background: url('../img/MainSprite.png') no-repeat -118px #{-10px}/210px;
                }

                .socialLinks__listMenu-a_background_linkedin:hover {
                    background: url('../img/MainSprite.png') no-repeat -118px #{-55px}/210px;
                }

                .socialLinks__listMenu-a_background_skype {
                    background: url('../img/MainSprite.png') no-repeat -151px #{-9px}/210px;
                }

                .socialLinks__listMenu-a_background_skype:hover {
                    background: url('../img/MainSprite.png') no-repeat -151px #{-54px}/210px;
                }
            }
        }
    }

    .header__navBar {
        clear: both;
        width: 100%;
        height: 55px;
    }
}
@mixin headerNavbar {
    .navbar__listMenu {
        float: left;
        width: 70%;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 0;

        .listMenu__item:first-child {
            background-color: #248cec;
        }

        .listMenu__item {
            display: inline-block;
            border-right: 1px solid #181a1d;

            .navbar__listMenu-a {
                display: block;
                height: 55px;
                color: white;
                font-size: 14px;
                line-height: 55px;
                padding: 0 40px;
                text-transform: uppercase;
            }

            .navbar__listMenu-a:hover {
                color: #f4b60d;
            }
        }
    }

    .header__search-form {
        float: right;
        width: 25%;
        height: 55px;
        line-height: 55px;
        position: relative;

        .header__search-form-input {
            width: 90%;
            height: 40px;
            color: white;
            font-size: 1em;
            border: 1px solid #181a1d;
            padding-left: 15px;
        }

        .header__search-form-input::-webkit-input-placeholder {
            color: #5d6063;
        }

        .header__search-form-input::-moz-placeholder {
            color: #5d6063;
        }

        .header__search-form-input:-moz-placeholder {
            color: #5d6063;
        }

        .header__search-form-input:-ms-input-placeholder {
            color: #5d6063;
        }

        .search-form__magnifier {
            position: absolute;
            top: 2px;
            left: 234px;
            color: #5d6063;
            font-size: 1em;
        }
    }
}
@mixin slider {
    .slider {
        position: relative;
        z-index: 9;
        width: 100%;
        height: 471px;
        overflow: hidden;
        background-color: gray;
        margin-top: 40px;
    }

    .slider li,
    .slider ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .slider ul {
        width: 9999px;
    }

    .slider ul li {
        list-style-type: none;
        float: left;
        width: 1161px;
        height: 471px;
    }

    .slider .nav {
        position: absolute;
        left: 538px;
        bottom: 12px;
    }

    .slider .nav span {
        opacity: 0.9;
        background: #fff;
        margin: 0 8px 0 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        overflow: hidden;
        display: block;
        float: left;
        box-shadow: 0 1px 2px #000;
        box-sizing: border-box;
    }

    .slider .nav span.on {
        border: 3px solid #fff;
        background: #001d1d;
    }
}
@mixin advantages {
    .advantages {
        width: 100%;
        height: 340px;
        text-align: center;

        .advantages__section_background_settings {
            background: url('../img/settings.png') no-repeat 125px #{80px}/32px;
        }

        .advantages__section_background_params {
            background: url('../img/params.png') no-repeat 125px #{80px}/32px;
        }

        .advantages__section_background_truck {
            background: url('../img/truck.png') no-repeat 125px #{88px}/32px;
        }

        .advantages__section {
            display: inline-block;
            width: 32%;
            height: 100%;
            position: relative;
            text-align: left;
            box-sizing: border-box;
            padding: 125px 10px 10px 125px;

            .advantages__section-h1_before_01::before {
                position: absolute;
                top: 73px;
                left: 23px;
                content: "01";
                color: rgba(42, 43, 46, 0.1);
                font-size: 4em;
            }

            .advantages__section-h1_before_02::before {
                position: absolute;
                top: 73px;
                left: 23px;
                content: "02";
                color: rgba(42, 43, 46, 0.1);
                font-size: 4em;
            }

            .advantages__section-h1_before_03::before {
                position: absolute;
                top: 73px;
                left: 23px;
                content: "03";
                color: rgba(42, 43, 46, 0.1);
                font-size: 4em;
            }

            .advantages__section-h1 {
                color: black;
                font-size: 1.25em;
                font-weight: bold;
            }

            .advantages__section-p {
                width: 235px;
                color: #8a8a8a;
                font-family: 'Arial', sans-serif;
                font-weight: 400;
                font-size: 0.81em;
                line-height: 1.5em;
                margin: 25px 0;
            }

            .advantages__section-a {
                color: black;
                font-family: 'Ubuntu', sans-serif;
                font-size: 0.81em;
                font-weight: 500;

                .advantages__section-span {
                    color: #248cec;
                }
            }

            .advantages__section-a:hover {
                color: #248cec;
            }
        }
    }
}
@mixin services {
    .services {
        width: 100%;
        height: 500px;

        .services__h1 {
            width: 100%;
            height: 125px;
            color: white;
            font-size: 1.5em;
            line-height: 125px;
            padding-left: 10px;
        }

        .services__listMenu {
            width: 100%;
            height: auto;
            text-align: center;

            .listMenu__item {
                display: inline-block;
                width: 260px;
                height: auto;
                margin-right: 30px;

                .services__listMenu-a {
                    display: block;
                    width: 260px;
                    height: 260px;
                }

                .services__listMenu-a::before {
                    display: block;
                    content: "+";
                    width: 260px;
                    height: 260px;
                    position: relative;
                    top: 0;
                    left: 0;
                    color: white;
                    font-size: 80px;
                    text-align: center;
                    line-height: 260px;
                    background-color: rgba(53, 147, 216, 0.90);
                    visibility: hidden;
                }

                .services__listMenu-a_background_service1 {
                    background: url('../img/service1.jpg')no-repeat center/100%;
                }

                .services__listMenu-a_background_service2 {
                    background: url('../img/service2.jpg')no-repeat center/100%;
                }

                .services__listMenu-a_background_service3 {
                    background: url('../img/service3.jpg')no-repeat center/100%;
                }

                .services__listMenu-a_background_service4 {
                    background: url('../img/service4.jpg')no-repeat center/100%;
                }

                .services__listMenu-a_bottom {
                    display: inline-block;
                    width: 100%;
                    height: 80px;
                    color: white;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 1em;
                    font-weight: 500;
                    line-height: 80px;
                    text-align: center;
                }
            }

            .listMenu__item:hover {
                .services__listMenu-a::before {
                    visibility: visible;
                }

                .services__listMenu-a_bottom {
                    color: #f4b60d;
                }
            }

            .listMenu__item:last-child {
                margin: 0;
            }
        }
    }
}
@mixin newsAndBanners {
    .newsAndBanners {
        width: 100%;
        min-height: 545px;
        height: auto;
        text-align: center;

        .newsAndBanners__latestNews {
            display: inline-block;
            width: 48%;
            height: auto;
            vertical-align: top;

            .newsAndBanners__latestNews-h1 {
                color: #2a2d32;
                font-size: 1.5em;
                text-align: left;
                margin: 55px 0;
            }

            .newsSection::after {
                content: "";
                display: table;
                clear: both;
            }

            .newsSection {
                position: relative;
                margin-bottom: 30px;

                .newsSection__date {
                    position: absolute;
                    width: 40px;
                    height: 80px;
                    top: 11px;
                    left: -18px;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 500;

                    .newsSection__date-text {
                        display: block;
                        width: 100%;
                        height: 40px;
                        color: white;
                        font-size: 0.94em;
                        line-height: 40px;
                        background-color: #248cec;
                    }

                    .newsSection__date-number {
                        display: block;
                        width: 100%;
                        height: 40px;
                        color: #2a2b2e;
                        font-size: 1.12em;
                        line-height: 40px;
                        background-color: #f4b60d;
                    }
                }

                .newsSection__imgWrap {
                    float: left;
                    width: 150px;
                    height: 150px;

                    .newsSection__img {
                        max-width: 150px;
                        max-height: 150px;
                    }
                }

                .newsSection__textWrap {
                    float: right;
                    width: 400px;
                    height: 150px;
                    text-align: left;
                    box-sizing: border-box;
                    padding-left: 20px;

                    .newsSection__h1 {
                        .newsSection__a {
                            color: #2a2d32;
                            font-size: 1em;
                            font-weight: 500;
                        }

                        .newsSection__a:hover {
                            color: #248cec;
                        }
                    }

                    .newsSection__p_info {
                        color: #8a8a8a;
                        font-family: 'Arial', sans-serif;
                        font-weight: 400;
                        font-size: 0.81em;
                        margin: 10px 0 35px;

                        .newsSection__a_blue {
                            color: #0187f4;
                        }
                    }

                    .newsSection__p {
                        color: #8a8a8a;
                        font-family: 'Arial', sans-serif;
                        font-weight: 400;
                        font-size: 0.81em;
                        line-height: 1.5em;
                    }
                }
            }
        }

        .newsAndBanners__bannersPlace {
            display: inline-block;
            width: 48%;
            height: auto;
            vertical-align: top;
            box-sizing: border-box;
            padding-left: 70px;

            .newsAndBanners__bannersPlace-h1 {
                color: #2a2d32;
                font-size: 1.5em;
                text-align: left;
                margin: 55px 0;
            }

            .accordionWrap {
                width: 100%;
                height: auto;

                .accordionSection {
                    width: 100%;
                    height: auto;
                    text-align: left;

                    .accordionSection__h1 {
                        position: relative;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        cursor: pointer;
                        text-transform: uppercase;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        background-color: #ffffff;
                        padding-left: 20px;
                    }

                    .accordionSection__h1::before {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: -1px;
                        left: -41px;
                        text-align: center;
                        content: "+";
                        font-size: 1.2em;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        background-color: #fff;
                    }

                    .accordionSection__h1_style_before::before {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: -1px;
                        left: -41px;
                        text-align: center;
                        content: "-";
                        font-size: 1.2em;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        background-color: #f4b60d;
                    }

                    .accordionSection__h1_style_hovered {
                        color: #fff;
                        background-color: #f4b60d;
                    }

                    .accordionSection__p {
                        color: #8a8a8a;
                        font-family: 'Arial', sans-serif;
                        font-weight: 400;
                        font-size: 0.81em;
                        line-height: 1.5em;
                        box-sizing: border-box;
                        margin: 25px 0;
                    }

                    .accordionSection__p_func_accordion {
                        display: none;
                    }

                    .accordionSection__p_func_accordion-visible {
                        display: block;
                    }
                }

                .accordionSection:last-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@mixin brands {
    .brands {
        width: 100%;
        height: 240px;
        box-sizing: border-box;
        padding-top: 90px;

        .brands__listMenu {
            text-align: center;

            .listMenu__item {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}
@mixin footer {
    .footer__top {
        width: 100%;
        height: 325px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 70px;

        .footer__top-section {
            display: inline-block;
            width: 23%;
            height: auto;
            text-align: left;
            margin-right: 24px;

            .footer__top-section-h1 {
                color: white;
                font-size: 1em;
                text-transform: uppercase;
                margin-bottom: 40px;
            }

            .footer__top-listMenu {
                font-family: 'Arial', sans-serif;
                font-weight: 400;

                .listMenu__item {
                    width: 260px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                    .footer__top-listMenu-a {
                        display: block;
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                        color: rgba(255, 255, 255, 0.3);
                    }

                    .footer__top-listMenu-a:hover {
                        color: #248cec;
                    }
                }

                .listMenu__item:last-child {
                    border-bottom: none;
                }
            }
        }

        .footer__top-section:last-child {
            margin-right: 0;
        }
    }

    .footer__bottom {
        width: 100%;
        height: 60px;

        .footer__bottom-listMenu {
            width: 100%;
            font-family: 'Arial', sans-serif;
            font-weight: 400;

            .listMenu__item {
                display: inline-block;
                height: 60px;
                color: rgba(255,255,255,0.3);
                font-size: 0.75em;
                line-height: 60px;
                padding-left: 40px;
                margin-right: 25px;
            }

            .listMenu__item:last-child {
                margin: 0 0 0 310px;
            }

            .listMenu__item_background_adress {
                background: url('../img/FooterSprite.png') no-repeat -15px #{-12px}/80px;
            }

            .listMenu__item_background_phone {
                background: url('../img/FooterSprite.png') no-repeat -15px #{-96px}/80px;
            }

            .listMenu__item_background_email {
                background: url('../img/FooterSprite.png') no-repeat -22px #{-188px}/80px;
            }
        }
    }
}
